@import '/src/scss/index.scss';

.containerDelete {
    position: fixed;
    width: 60vw;
    height: 50vh;
    background-color: $background-transparent-bold;
    border: 1px solid $text-primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    opacity: 0;
    pointer-events: none;

    > div {
        display: flex;
        justify-content: space-around;
        width: 100%;
        position: relative;

        > svg {
            transition: all .3s ease-in-out;
            position: absolute;
            top: 90%;
            left: 50%;
            transform: translate(-50%, -90%);
            width: 12em;

            &:last-of-type {
                opacity: 0;
            }
        }
    }

    > span {
        text-align: center;
        margin: 2rem;
        font-size: 18px;
    }
}

.switchSvg {
    > svg {
        opacity: 0;

        &:last-of-type {
            opacity: 1 !important;
        }
    }
}


.containerButtons {
    position: absolute;
    bottom: 0;
    margin-bottom: -12em ;
}

.modalActived {
    opacity: 1;
    pointer-events: auto;
}
