@import '/src/scss/index.scss';

.formContainer {
    background-color: $background-transparent-normal;
    width: 40%;
    position: absolute;
    bottom: -500px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    transition: all .3s;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 4rem;
    gap: 1rem;

    &:hover {
        background-color: $background-transparent-bold;
    }

    > div {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;

        > button {
            margin: 0 auto;
        }

        > input{
            width: 80%;
        }
    }
}

.notAllowed {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.2;
}

.goToRegisterAdm {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s;
    background-color: $background-transparent-normal;
    padding: 1rem 3rem;
    border-radius: 15px;

    > p {
        color: $white;
        text-transform: uppercase;
        text-align: center;
        font-size: 12px;
    }
}

.goToRegisterAdm:hover {
    background-color: $background-transparent-bold;
}