@import '/src/scss/index.scss';

.containerForm {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 800px;

    border: 1px solid $border-primary;
    background-color: $background-transparent-bold;
    padding: 3rem;
    border-radius: 15px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    > a {
        text-decoration: none;
    }
    
    &:hover {
        background-color: $background-primary;
        transition: all .3s;
    }
}

.signup {
    text-align: center;
    margin-bottom: 2rem;
    display: block;
    white-space: nowrap;
    border-right: 3px solid;
    width: 13ch;
    overflow: hidden;
    font-size: 18px ;


    animation: typing 2s steps(13), blink .5s infinite step-end alternate
}

@keyframes typing {
    from { width: 0 }
}

@keyframes blink {
    50% { border-color: transparent; }
}

.element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: .5rem;

    > input {
        width: 80%;
        :focus {
            outline: none;
        }
    }
}

.notAllowed {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.2;
}

.goToLogin {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $background-transparent-bold;
    padding: 1rem 3rem;
    border-radius: 15px;

    > p {
        color: $white;
        text-transform: uppercase;
        font-size: 12px;
    }
}

.goToLogin:hover {
    background-color: $background-primary;
}
