@import '/src/scss/index.scss';

.alert {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -30%);
    padding: 1rem 2rem;
    background-color: $error;
    border-radius: 10px;
    color: $text-primary;
    border: 1px solid $border-primary;
    text-align: center;
}