$white: #FFF;
$black: #000;

$text-primary: #D7C49F;
$text-primary-hover: #E7D4AE;


$text-secondary: #A39B93;
$text-secondary-hover: #B7ACA2;

$border-primary: #A2A2A2;
$border-secondary: #C8C8C8;

$background-primary: #0C0B09;
$background-secondary: #1B1914;
$background-tertiary: #121111;
$background-quaternary: #000000;

$error: #AE2020;
$success: #6BAB40;

$background-transparent-light: rgba(0, 0, 0, 0.3);
$background-transparent-normal: rgba(0, 0, 0, 0.6);
$background-transparent-bold: rgba(0, 0, 0, 0.9);
